
name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            custom_components/**
            README.md
            hacs.json

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
